@import url(https://fonts.googleapis.com/css?family=Bungee);

*{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

input, select {
    vertical-align: mmiddle;
}


body {
    background-color: black;
    min-height: 100%;
}


html{
    min-height: 100%;
    overflow: hidden;

}

/*
script #boxes {
    box-align: left;
    vertical-align:bottom;
    position: relative;
    top: 1000px;
}
*/


/* doesn't seem to be centered??*/
#title {
    padding: 1em;
    padding-bottom: 10px;
    background-color: black;
    font-size: 20px;
    font-size: 6vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: center;
    position: relative;
    right: 50px;
}

#points {
    padding: 0.5em;
    font-size: 2px;
    font-size: 2vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: left;
}

#mouseLink {
    padding: 0.5em;
    position: relative;
    left: 140px;
    top: 400px;
    color: rgba(255, 255, 255, 0.75);
    opacity: 1;
    font-family: "Bungee", Bungee Shade;
}

#gestureLink {
    padding: 0em;
    position: relative;
    left: 300px;
    top: 400px;
    color: rgba(255,255,255,.75);
    opacity: 1;
    font-family: "Bungee", Bungee Shade;
}

/*
#links {
    position:relative;
    top: 400px;
    left: 220px;
    font-size: 1.8px;
    font-size: 1.8vw;
}
*/



body, .outer {
    position: relative;
    width: 100%;
    padding-bottom: 100;
} 


body, .outer, #flex-container {
    position: absolute;
    width:100%;
    padding-bottom: 100;
}



#hand {
    width: 10%;
}


#videoElement {
    
    position: absolute;
    z-index: 1;
    padding-top: 5%;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
}

.error {
    color: red;
    padding: 1em;
    font-size: 16px;
    font-size: 4vw;
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}


/* Source for flipping video: http://jsfiddle.net/DuT9U/1/ */ /* Safari and Chrome */ /* Firefox */

/*

*{
    padding: 0;
    margin: 0;
    border: 0;
}
input, select {
    vertical-align: mmiddle;
}
body {
    background-color: black;
}

html{
    min-height: 100%;
    overflow: hidden;

}

#title {
    background-color: black;
    padding: 1em;
    font-size: 16px;
    font-size: 4vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}

#points {
    background-color: black;
    padding: 0.5em;
    font-size: 2px;
    font-size: 2vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: left;
}


body, .outer {
    position: relative;
    width: 100%;
    padding-bottom: 100;
}

body, .outer, #flex-container {
    position: absolute;
    width:100%;
    padding-bottom: 100;
    
}

#hand {
    width: 10%;
}


#videoElement {
    position: absolute;
    z-index: 1;
    padding-top: 5%;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg);
}

.error {
    color: red;
    padding: 1em;
    font-size: 16px;
    font-size: 4vw;
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}

*/