@import url(https://fonts.googleapis.com/css?family=Bungee);

*{
    padding: 0;
    margin: 0;
    border: 0;
}
input, select {
    vertical-align: mmiddle;
}
body {
    background-color: black;
}

html{
    min-height: 100%;
    overflow: hidden;

}

h1 {
    background-color: black;
    padding: 1em;
    font-size: 16px;
    font-size: 4vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}


body, .outer {
    position: relative;
    width: 100%;
    padding-bottom: 100;
}

body, .outer, #flex-container {
    position: absolute;
    width:100%;
    padding-bottom: 100;
    
}

#hand {
    width: 10%;
}


#videoElement {
    /* Source for flipping video: http://jsfiddle.net/DuT9U/1/ */
    position: absolute;
    padding-bottom: 5%;
    bottom: 0;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.error {
    color: red;
    padding: 1em;
    font-size: 16px;
    font-size: 4vw;
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}