@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

input, select {
    vertical-align: mmiddle;
}

body {
    background-color: black;
    min-height: 100%;
}


html{
    min-height: 100%;
    overflow: hidden;

}

/*
script #boxes {
    box-align: left;
    vertical-align:bottom;
    position: relative;
    top: 1000px;
}
*/

#title {
    /*padding: 1em;*/
    padding-top: 40px;
    padding-bottom: 10px;
    /*background-color: black;*/
    font-size: 6vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: center;
    position: relative;
}

#points {
    padding: 0.5em;
    font-size: 2px;
    font-size: 2vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: left;
}

#instructionsTitle {
    padding-top: 1em;
    padding-bottom: 10px;
    background-color: black;
    font-size: 3.5vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}

#instructionsMiniHeader{
    font-size: 22px;
    color: rgba(255,255,255,.75);
    text-align: center;
    font-weight: 1000;
    font-family: 'Montserrat';
}

.instructions {
    color: rgba(255,255,255,.75);
    text-align: center;
    font-size: 22px;
    font-family: 'Dosis';
    
}

/* on instructions page */
#homeLink {
    position: relative;
    left: 40px;
    top: 20px;
    color: rgba(255, 255, 255, 0.75);
    opacity: 1;
    font-family: "Bungee", Bungee Shade;
    text-decoration: none;
}

/* links on home page */
#mouseLink {
    padding: 0em;
    /*color: rgba(255, 255, 255, 0.75);*/
    color: #00ff00;
    font-size: 22px;
    /*margin-left: 100px;*/
    display: block;
    text-align: center;
    left: 400px;
    top: 20px;
    opacity: 1;
    font-family: "Bungee", Bungee Shade;
    text-decoration: none;
}

#gestureLink {
    padding: 0em;
    /*position: relative;*/
    display: block;
    margin-right: 100px;
    text-align: center;
    left: 800px;
    top: 5px;
    color: #00ff00;
    font-size: 22px;
    /*color: rgba(255,255,255,.75);*/
    opacity: 1;
    font-family: "Bungee", Bungee Shade;
    text-decoration: none;
}

#instructionsLink {
    display: inline-block;
    text-align: center;
    left: 40px;
    top: 20px;
    font-size: 22px;
    /*color: rgba(255, 255, 255, 0.75);*/
    color: #00ff00;
    opacity: 1;
    font-family: "Bungee", Bungee Shade;
    text-decoration: none;
}

body, .outer {
    position: relative;
    width: 100%;
    padding-bottom: 100;
} 

body, .outer, #flex-container {
    position: absolute;
    width:100%;
    padding-bottom: 100;
}

#hand {
    width: 10%;
}

#videoElement {
    position: absolute;
    z-index: 1;
    padding-top: 5%;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
}

.error {
    color: red;
    padding: 1em;
    font-size: 16px;
    font-size: 4vw;
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}

/* Source for flipping video: http://jsfiddle.net/DuT9U/1/ */ /* Safari and Chrome */ /* Firefox */