@import url(https://fonts.googleapis.com/css?family=Bungee);

*{
    padding: 0;
    margin: 0;
    border: 0;
}
input, select {
    vertical-align: mmiddle;
}

html{
    min-height: 100%;
    overflow: hidden;

}
h1 {
    background-color: black;
    padding: 1em;
    font-size: 16px;
    font-size: 4vw;
    color: rgba(255,255,255,.75);
    font-family: "Bungee", Bungee Shade;
    text-align: center;
}

/* .outer {
    position: relative;
    width: 100%;
    padding-bottom: 100;
} */

body, #flex-container {
    position: absolute;
    width:100%;
    margin: 0;
    padding-bottom: 100;
    padding: 10;
    
}

#hand {
    width: 10%;
    
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
